<%- include("partials/header") %>

<br>
<br>
<div class="container">
<h1>Contact</h1>


<div class="jumbotron">
    <h1>Gmail</h1>
    <li><a href="mail:vblawing@gmail.com">Main</a></li>
    
</div>

<div class="jumbotron">
    <h1>Git hub</h1>
    <li><a href="https://github.com/bily-101">Main</a></li>
    
</div>
</div>

<%- include("partials/footer") %>