<%- include("partials/header") %>


<div class="container">
  <br>
<br>
<h1>My resume</h1> 

<div class="jumbotron">
    <h1>About me</h1>
  <hr class="my-4">
    <p>Hello my name is bily I am a web developer and I am learning to be a software developer</p>  
    <br>
    <p>I have made many different websites you can see them at <a href="/projects">My projects</a> and am currently working on some games</p>
</div>
  


<div class="jumbotron">
    <h1>My experience</h1>
    
    <p>I have a good experience in all of these languages</p>
    <p>This current site I made by myself with no help</p>
  <hr class="my-4">
    <li>Kotlin</li>
    
    <li>Java</li>
    
    <li>Node</li>
    
    <li>Express</li>
    
    
    <li>Css</li>
    
    <li>JavaScript</li>
    
    <li>Mongodb</li>
    
    <li>MySql</li>
    
    <li>HTML</li>
    <li>Python</li>
</div>
  

</div>



<%- include("partials/footer") %>