<%- include("partials/header") %>

<br>
<br>
<div class="container">
    <h1>My projects</h1>
    <div class="jumbotron">
        <h1>RAT SQUAD</h1>
        <h3>Web Project</h3>
        <a class="btn btn-outline-success" href="#">Click here</a>
        
        </div>
<div class="jumbotron">
        <h1>AnimationSite</h1>
        <h3>Web Project</h3>
        <a class="btn btn-outline-success" href="https://github.com/bily-101/AnimationSite">Click here</a>
        
  <hr class="my-4">
  <p>Not very good I was mainly playing around with animation <br> I made it before I heard of express and ejs</p>
        </div>

</div>




<%- include("partials/footer") %>